
body {
  background: url(image/background_for_website.jpg) no-repeat center center fixed;
 
  background-size: cover;

}

#waper{
	width: 100%;
        margin: 0 auto;
}
#header{
	width: auto;
	height: 250px;
	background-image: url(image/hinh2.jpg);
	position: center center;
	background-repeat: no-repeat;
}
#menu{
	width:15%;
	height:500px;
	float: left;
        margin:0 auto;
}

#maincontent{
	width:80%;
	height:500px;
	float:right;
}
#maincontent div#chia1{
    float: left;
    background: green;
    width: 70%;
    height:500px;
}
#maincontent div#chia2{
	float: right;
	background:#33FFCC;
	width:25%;
	height:500px;
}
#end{
	width:100%;
	clear: both;
	height:30px;
	text-align: center;
	background:#CCCCCC;
}
#end h5{
	margin-top: 50%;
}